<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="payfabric_payment_section" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PayFabric Gateway</label>
                <comment>
                    <![CDATA[]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/payfabric_payment/active</config_path>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <config_path>payment/payfabric_payment/title</config_path>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Device ID</label>
                    <config_path>payment/payfabric_payment/merchant_id</config_path>
                </field>
                <field id="merchant_password" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <config_path>payment/payfabric_payment/merchant_password</config_path>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>PayFabric\Payment\Model\Config\Source\Environment</source_model>
                    <config_path>payment/payfabric_payment/environment</config_path>
<!--                    <backend_model>PayFabric\Payment\Model\Config\Backend\Gateway</backend_model>-->
                </field>
                <field id="payment_action" translate="label" type="select" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment Action</label>
                    <source_model>PayFabric\Payment\Model\Config\Source\NewOrderPaymentActions</source_model>
                    <config_path>payment/payfabric_payment/payment_action</config_path>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>New order status</label>
                    <tooltip>Status given to newly created orders before payment result is returned.</tooltip>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                    <config_path>payment/payfabric_payment/order_status</config_path>
                </field>
                <field id="payment_cancelled" translate="label" type="select" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Cancelled order status</label>
                    <tooltip>Status given to orders when payment fails. Add some text about refunds.</tooltip>
                    <source_model>PayFabric\Payment\Model\Config\Source\Cancelled</source_model>
                    <config_path>payment/payfabric_payment/payment_cancelled</config_path>
                </field>
                <field id="display_mode" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Mode</label>
                    <comment><![CDATA[Display Mode controls the presentation of the Hosted Payment Page (HPP):<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;<b>• Dialog:</b> HPP shown as a pop-up on the checkout page.<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;<b>• Iframe:</b> HPP shown directly on the checkout page, payment made when placing order. (A theme is required, see <a href="https://github.com/PayFabric/Magento-Plugin#readme" target="_blank">Guide</a>).<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;<b>• Redirect:</b> Shopping site redirects user to the HPP.]]>
                    </comment>
                    <source_model>PayFabric\Payment\Model\Config\Source\DisplayMode</source_model>
                    <config_path>payment/payfabric_payment/display_mode</config_path>
                </field>
                <field id="debug_log" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Log</label>
                    <source_model>PayFabric\Payment\Model\Config\Source\DebugLog</source_model>
                    <config_path>payment/payfabric_payment/debug_log</config_path>
                </field>
                <field id="test_connect_wizard" translate="button_label" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="1">
                    <button_label>Test Connection</button_label>
                    <frontend_model>PayFabric\Payment\Block\Adminhtml\System\Config\TestConnection</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>